* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
}

.maintext {
    font-size: 30px;
}

a {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 20px;
    margin: 10px;
}

a:hover {
    color: black;
    background-color: white;
    border-radius: 14px;
}

section {
    height: 100vh;
}

.logo {
    margin-left: 100px;
}

a:last-of-type {
    margin-right: 150px;
}

.header {
    width: 100%;
    height: 75px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    padding: 0px  0px;
}

.head {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

/* sections */

#home {
    background-color: lightgrey;
    margin: 0;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    scroll-behavior: smooth;
}

#about {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 25px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: beige;
    scroll-behavior: smooth;
}

#kontaktai {
    background-color: cornsilk;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

/* sections */

.deez {
    width: 400px;
}

img {
    border: 4px solid black;
    border-radius: 50px;
}

.kontas {
    width: 200px;
    height: 200px;
    border: solid black 1px;
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Kid_boy.jpg/2560px-Kid_boy.jpg);
    background-size: cover;
}

.haja {
    display: flex;
    flex-direction: column;
    text-align: center;
}

h4 {
    margin: 5px;
    color: green;
    text-decoration: underline;
    font-size: 15px;

}

h3 {
    margin: 10px;
    font-size: 20px;
}

.footer {
    width: 100%;
    height: 43px;
    background-color: black;
    color: white;
    font-size: 14px;
    font-family: monospace;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

/* p:last-of-type {
    margin-right: 100px;
} */

.copyright1 {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/b/b0/Copyright.svg/2048px-Copyright.svg.png);
    background-size: cover;
    margin-left: 20px;
}

.copyright2 {
    margin-right: 100px;
}




